.version.home /* version checker */
{
	color: #0000FD;
	background-color: #327F98;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #B9EEF6;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 893px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2092
{
	z-index: 2;
	min-height: 108px;
	background-color: #F15C1A;
}

#u2093
{
	z-index: 3;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2092-bw
{
	z-index: 2;
	min-height: 108px;
}

#menuu2112
{
	z-index: 5;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
}

#u2127
{
	width: 125px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2130
{
	width: 125px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u2130.MuseMenuActive
{
	background-color: #00C0DF;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2133-4
{
	width: 125px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u2130:hover #u2133-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2130:active #u2133-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2113
{
	width: 125px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u2116
{
	width: 125px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u2116:hover
{
	background-color: #999999;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2116:active
{
	background-color: #6B6B6B;
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u2118-4
{
	width: 125px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u2130.MuseMenuActive #u2133-4,#u2116:hover #u2118-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2116:active #u2118-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2116.MuseMenuActive #u2118-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2120
{
	width: 126px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u2123
{
	width: 126px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u2123:hover
{
	background-color: #999999;
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u2123:active
{
	background-color: #6B6B6B;
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u2126-4
{
	width: 126px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u2123:hover #u2126-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u2123:active #u2126-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u2123.MuseMenuActive #u2126-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu2112-bw
{
	z-index: 5;
	min-height: 34px;
}

#u2134-4
{
	z-index: 24;
	width: 359px;
	min-height: 274px;
	background-color: transparent;
	font-size: 14px;
	margin-left: 11px;
	margin-top: 22px;
	position: relative;
}

#u2135
{
	z-index: 28;
	width: 360px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 6px;
	position: relative;
}

#u2649
{
	z-index: 30;
	height: 71px;
	background-color: #F15D1A;
}

#u2649-bw
{
	z-index: 30;
	margin-top: 11px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

