.version.student /* version checker */
{
	color: #00000A;
	background-color: #949F1A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #B9EEF6;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2051
{
	z-index: 124;
	min-height: 109px;
	background-color: #F15C1A;
}

#u2052
{
	z-index: 125;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2054-6
{
	z-index: 127;
	width: 205px;
	min-height: 47px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #00ACDF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 133px;
}

#u2051-bw
{
	z-index: 124;
	min-height: 109px;
}

#widgetu2016
{
	z-index: 2;
	width: 0.01px;
	height: 543px;
	margin-left: 15px;
	margin-top: 27px;
	position: relative;
}

#widgetu2025
{
	z-index: 3;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu2025.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2026-4
{
	z-index: 4;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2025.fld-err-st #u2026-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u2028-4
{
	z-index: 8;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2025.non-empty-st #u2028-4
{
	background-color: #FFFFFF;
}

#widgetu2025:hover #u2028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2025.focus-st #u2028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2025.non-empty-st #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2025:hover #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2025.focus-st #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2027-4
{
	z-index: 12;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2025_input,#widgetu2025_prompt
{
	width: 328px;
	min-height: 18px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu2017
{
	z-index: 16;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu2017.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u2019-4
{
	z-index: 17;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2018-4
{
	z-index: 21;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2017.non-empty-st #u2018-4
{
	background-color: #FFFFFF;
}

#widgetu2017:hover #u2018-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2017.focus-st #u2018-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2017.non-empty-st #u2018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2017:hover #u2018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2017.focus-st #u2018-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2020-4
{
	z-index: 25;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2036
{
	z-index: 29;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu2036.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u2039-4
{
	z-index: 30;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2038-4
{
	z-index: 34;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2036.non-empty-st #u2038-4
{
	background-color: #FFFFFF;
}

#widgetu2036:hover #u2038-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2036.focus-st #u2038-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2036.non-empty-st #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2036:hover #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2036.focus-st #u2038-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2037-4
{
	z-index: 38;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2044
{
	z-index: 42;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: -1px;
}

#widgetu2044.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u2045-4
{
	z-index: 43;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2047-4
{
	z-index: 47;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2044.non-empty-st #u2047-4
{
	background-color: #FFFFFF;
}

#widgetu2044:hover #u2047-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2044.focus-st #u2047-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2044.non-empty-st #u2047-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2044:hover #u2047-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2044.focus-st #u2047-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2046-4
{
	z-index: 51;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2029
{
	z-index: 55;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -1px;
}

#widgetu2029.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 232px -10000px 0px 0px;
}

#u2032-4
{
	z-index: 56;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2031-4
{
	z-index: 60;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2029.non-empty-st #u2031-4
{
	background-color: #FFFFFF;
}

#widgetu2029:hover #u2031-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2029.focus-st #u2031-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2029.non-empty-st #u2031-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2029:hover #u2031-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2029.focus-st #u2031-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2030-4
{
	z-index: 64;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2040
{
	z-index: 68;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: -1px;
}

#widgetu2040.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 288px -10000px 0px 0px;
}

#u2041-4
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2043-4
{
	z-index: 73;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2040.non-empty-st #u2043-4
{
	background-color: #FFFFFF;
}

#widgetu2040:hover #u2043-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2040.focus-st #u2043-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2040.non-empty-st #u2043-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2040:hover #u2043-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2040.focus-st #u2043-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2042-4
{
	z-index: 77;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu2021
{
	z-index: 81;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: -1px;
}

#widgetu2021.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u2024-4
{
	z-index: 82;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2017.fld-err-st #u2019-4,#widgetu2036.fld-err-st #u2039-4,#widgetu2044.fld-err-st #u2045-4,#widgetu2029.fld-err-st #u2032-4,#widgetu2040.fld-err-st #u2041-4,#widgetu2021.fld-err-st #u2024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2025.fld-err-st #u2026-4 p,#widgetu2025.fld-err-st #u2026-4 span,#widgetu2017.fld-err-st #u2019-4 p,#widgetu2017.fld-err-st #u2019-4 span,#widgetu2036.fld-err-st #u2039-4 p,#widgetu2036.fld-err-st #u2039-4 span,#widgetu2044.fld-err-st #u2045-4 p,#widgetu2044.fld-err-st #u2045-4 span,#widgetu2029.fld-err-st #u2032-4 p,#widgetu2029.fld-err-st #u2032-4 span,#widgetu2040.fld-err-st #u2041-4 p,#widgetu2040.fld-err-st #u2041-4 span,#widgetu2021.fld-err-st #u2024-4 p,#widgetu2021.fld-err-st #u2024-4 span
{
	color: #D7244C;
}

#u2023-4
{
	z-index: 86;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2021.non-empty-st #u2023-4
{
	background-color: #FFFFFF;
}

#widgetu2021:hover #u2023-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2021.focus-st #u2023-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2025.fld-err-st #u2028-4,#widgetu2017.fld-err-st #u2018-4,#widgetu2036.fld-err-st #u2038-4,#widgetu2044.fld-err-st #u2047-4,#widgetu2029.fld-err-st #u2031-4,#widgetu2040.fld-err-st #u2043-4,#widgetu2021.fld-err-st #u2023-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2021.non-empty-st #u2023-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2021:hover #u2023-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2021.focus-st #u2023-4 *
{
	color: #6B6B6B;
	font-style: normal;
}

#u2022-4
{
	z-index: 90;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#widgetu2025.fld-err-st #u2027-4,#widgetu2017.fld-err-st #u2020-4,#widgetu2036.fld-err-st #u2037-4,#widgetu2044.fld-err-st #u2046-4,#widgetu2029.fld-err-st #u2030-4,#widgetu2040.fld-err-st #u2042-4,#widgetu2021.fld-err-st #u2022-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2025.fld-err-st #u2028-4 *,#widgetu2025.fld-err-st #u2027-4 p,#widgetu2017.fld-err-st #u2018-4 *,#widgetu2017.fld-err-st #u2020-4 p,#widgetu2036.fld-err-st #u2038-4 *,#widgetu2036.fld-err-st #u2037-4 p,#widgetu2044.fld-err-st #u2047-4 *,#widgetu2044.fld-err-st #u2046-4 p,#widgetu2029.fld-err-st #u2031-4 *,#widgetu2029.fld-err-st #u2030-4 p,#widgetu2040.fld-err-st #u2043-4 *,#widgetu2040.fld-err-st #u2042-4 p,#widgetu2021.fld-err-st #u2023-4 *,#widgetu2021.fld-err-st #u2022-4 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2017_input,#widgetu2017_prompt,#widgetu2036_input,#widgetu2036_prompt,#widgetu2044_input,#widgetu2044_prompt,#widgetu2029_input,#widgetu2029_prompt,#widgetu2040_input,#widgetu2040_prompt,#widgetu2021_input,#widgetu2021_prompt
{
	width: 328px;
	min-height: 18px;
	color: #C4C4C4;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu2025.focus-st #widgetu2025_prompt,#widgetu2017.focus-st #widgetu2017_prompt,#widgetu2036.focus-st #widgetu2036_prompt,#widgetu2044.focus-st #widgetu2044_prompt,#widgetu2029.focus-st #widgetu2029_prompt,#widgetu2040.focus-st #widgetu2040_prompt,#widgetu2021.focus-st #widgetu2021_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2025:hover #widgetu2025_input,#widgetu2025.focus-st #widgetu2025_input,#widgetu2025.fld-err-st #widgetu2025_input,#widgetu2025:hover #widgetu2025_prompt,#widgetu2025.fld-err-st #widgetu2025_prompt,#widgetu2017:hover #widgetu2017_input,#widgetu2017.focus-st #widgetu2017_input,#widgetu2017.fld-err-st #widgetu2017_input,#widgetu2017:hover #widgetu2017_prompt,#widgetu2017.fld-err-st #widgetu2017_prompt,#widgetu2036:hover #widgetu2036_input,#widgetu2036.focus-st #widgetu2036_input,#widgetu2036.fld-err-st #widgetu2036_input,#widgetu2036:hover #widgetu2036_prompt,#widgetu2036.fld-err-st #widgetu2036_prompt,#widgetu2044:hover #widgetu2044_input,#widgetu2044.focus-st #widgetu2044_input,#widgetu2044.fld-err-st #widgetu2044_input,#widgetu2044:hover #widgetu2044_prompt,#widgetu2044.fld-err-st #widgetu2044_prompt,#widgetu2029:hover #widgetu2029_input,#widgetu2029.focus-st #widgetu2029_input,#widgetu2029.fld-err-st #widgetu2029_input,#widgetu2029:hover #widgetu2029_prompt,#widgetu2029.fld-err-st #widgetu2029_prompt,#widgetu2040:hover #widgetu2040_input,#widgetu2040.focus-st #widgetu2040_input,#widgetu2040.fld-err-st #widgetu2040_input,#widgetu2040:hover #widgetu2040_prompt,#widgetu2040.fld-err-st #widgetu2040_prompt,#widgetu2021:hover #widgetu2021_input,#widgetu2021.focus-st #widgetu2021_input,#widgetu2021.fld-err-st #widgetu2021_input,#widgetu2021:hover #widgetu2021_prompt,#widgetu2021.fld-err-st #widgetu2021_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2025.non-empty-st #widgetu2025_prompt,#widgetu2017.non-empty-st #widgetu2017_prompt,#widgetu2036.non-empty-st #widgetu2036_prompt,#widgetu2044.non-empty-st #widgetu2044_prompt,#widgetu2029.non-empty-st #widgetu2029_prompt,#widgetu2040.non-empty-st #widgetu2040_prompt,#widgetu2021.non-empty-st #widgetu2021_prompt
{
	visibility: hidden;
}

#u2033-4
{
	z-index: 94;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 77px;
}

#widgetu2016.frm-sub-st #u2033-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2034-4
{
	z-index: 98;
	width: 200px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 77px;
}

#widgetu2016.frm-subm-err-st #u2034-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu2016.frm-subm-err-st #u2034-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2048-4
{
	z-index: 102;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 77px;
}

#widgetu2016.frm-sub-st #u2033-4,#widgetu2016.frm-subm-ok-st #u2048-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu2016.frm-subm-ok-st #u2048-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2035-13
{
	z-index: 106;
	min-height: 41px;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 500px;
	left: 16px;
	background: url("../../images/u2035-13.png") no-repeat 0px 0px;
}

#u2035-13:hover
{
	background: url("../../images/u2035-13-r.png") no-repeat 0px 0px;
}

#u2035-13:active
{
	background: url("../../images/u2035-13-m.png") no-repeat 0px 0px;
}

#widgetu2016.frm-sub-st #u2035-13
{
	background: url("../../images/u2035-13-fs.png") no-repeat 0px 0px;
}

#buttonu2049
{
	z-index: 119;
	width: 231px;
	border-color: #787878;
	background-color: #00ACDF;
	border-radius: 10px;
	padding-bottom: 7px;
	margin-left: 63px;
	top: -123px;
	margin-bottom: -50px;
	position: relative;
}

#buttonu2049:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 0px 0px -50px 63px;
}

#u2050-4
{
	z-index: 120;
	width: 173px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 29px;
}

#buttonu2049:hover #u2050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 173px;
	margin: 7px -10000px 0px 0px;
}

#buttonu2049.ButtonSelected #u2050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 173px;
	margin: 7px -10000px 0px 0px;
}

#buttonu2049:hover #u2050-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2049.ButtonSelected #u2050-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2647
{
	z-index: 133;
	height: 71px;
	background-color: #F15D1A;
}

#u2647-bw
{
	z-index: 133;
	margin-top: 1px;
	height: 71px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

