.version.enqu_te /* version checker */
{
	color: #0000F8;
	background-color: #B5ADB8;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #B9EEF6;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1544
{
	z-index: 2;
	min-height: 171px;
	background-color: #F15C1A;
}

#u1545
{
	z-index: 3;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu2636
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 196px;
}

#buttonu2636
{
	z-index: 34;
	width: 133px;
	border-color: #787878;
	background-color: #00ACDF;
	border-radius: 10px;
	padding-bottom: 3px;
	margin-left: 417px;
	position: relative;
}

#buttonu2636:hover
{
	background-color: #545454;
	width: 133px;
	min-height: 0px;
	margin: 0px 0px 0px 417px;
}

#u2637-4
{
	z-index: 35;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#buttonu2636:hover #u2637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2636.ButtonSelected #u2637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#buttonu2636:hover #u2637-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#menuu1870
{
	z-index: 15;
	width: 550px;
	border-style: none;
	border-color: transparent;
	background-color: #F7931E;
	margin-top: 84px;
	position: relative;
}

#u1871
{
	width: 182px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1874
{
	width: 182px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u1874:hover
{
	background-color: #999999;
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u1875-4
{
	width: 182px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1874:hover #u1875-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1874:active #u1875-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1885
{
	width: 182px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u1888
{
	width: 182px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u1888.MuseMenuActive
{
	background-color: #00C0DF;
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u1890-4
{
	width: 182px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u1874.MuseMenuActive #u1875-4,#u1888:hover #u1890-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1888:active #u1890-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1878
{
	width: 182px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 368px;
}

#u1881
{
	width: 182px;
	background-color: #00ACDF;
	padding-bottom: 17px;
	position: relative;
}

#u1881:hover
{
	background-color: #999999;
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u1874:active,#u1881:active
{
	background-color: #6B6B6B;
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u1883-4
{
	width: 182px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1888.MuseMenuActive #u1890-4,#u1881:hover #u1883-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1881:active #u1883-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

#u1881.MuseMenuActive #u1883-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 182px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1544-bw
{
	z-index: 2;
	min-height: 171px;
}

#u1547-4
{
	z-index: 5;
	width: 316px;
	min-height: 60px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	margin-left: 226px;
	margin-top: 65px;
	position: relative;
}

#buttonu1549
{
	z-index: 10;
	width: 231px;
	border-color: #787878;
	background-color: #00ACDF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 269px;
	margin-top: 100px;
	position: relative;
}

#buttonu1549:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 100px 0px 0px 269px;
}

#u1550-4
{
	z-index: 11;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 56px;
}

#buttonu1549:hover #u1550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px 0px 0px;
}

#buttonu1549.ButtonSelected #u1550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px 0px 0px;
}

#buttonu1549:hover #u1550-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2636.ButtonSelected #u2637-4 p,#buttonu1549.ButtonSelected #u1550-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1548
{
	z-index: 9;
	height: 98px;
	background-color: #F15D1A;
}

#u1548-bw
{
	z-index: 9;
	margin-top: 476px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

