.version.index /* version checker */
{
	color: #000017;
	background-color: #92E197;
}

.html
{
	background-color: #B9EEF6;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 679.8499999999979px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu764-3
{
	width: 0.01px;
	margin-left: -113px;
}

#u764-3
{
	z-index: 5;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
}

#u761
{
	z-index: 2;
	min-height: 171px;
	background-color: #F15C1A;
}

#u761_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u762
{
	z-index: 3;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u942-4
{
	z-index: 9;
	width: 291px;
	min-height: 47px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #00ACDF;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 241px;
}

#u761-bw
{
	z-index: 2;
	min-height: 171px;
}

#widgetu943
{
	z-index: 13;
	width: 0.01px;
	height: 192px;
	margin-left: 255px;
	margin-top: 106px;
	position: relative;
}

#widgetu956
{
	z-index: 14;
	width: 442px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu956.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 442px;
	height: 54px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u958-4
{
	z-index: 15;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu956.fld-err-st #u958-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u959-4
{
	z-index: 19;
	width: 428px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu956.non-empty-st #u959-4
{
	background-color: #FFFFFF;
}

#widgetu956:hover #u959-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 428px;
	margin: 19px -10000px 0px 0px;
}

#widgetu956.focus-st #u959-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 428px;
	margin: 19px -10000px 0px 0px;
}

#widgetu956.non-empty-st #u959-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu956:hover #u959-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu956.focus-st #u959-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu956_input,#widgetu956_prompt
{
	width: 428px;
	min-height: 21px;
	color: #C4C4C4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu944
{
	z-index: 23;
	width: 442px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -1px;
}

#widgetu944.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 442px;
	height: 54px;
	min-height: 0px;
	margin: 64px -10000px 0px 0px;
}

#u947-4
{
	z-index: 24;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu944.fld-err-st #u947-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu956.fld-err-st #u958-4 p,#widgetu956.fld-err-st #u958-4 span,#widgetu944.fld-err-st #u947-4 p,#widgetu944.fld-err-st #u947-4 span
{
	color: #D7244C;
}

#u945-4
{
	z-index: 28;
	width: 428px;
	min-height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	font-size: 18px;
	line-height: 18px;
	color: #C4C4C4;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu944.non-empty-st #u945-4
{
	background-color: #FFFFFF;
}

#widgetu944:hover #u945-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 428px;
	margin: 19px -10000px 0px 0px;
}

#widgetu944.focus-st #u945-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 428px;
	margin: 19px -10000px 0px 0px;
}

#widgetu956.fld-err-st #u959-4,#widgetu944.fld-err-st #u945-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 21px;
	width: 428px;
	margin: 19px -10000px 0px 0px;
}

#widgetu944.non-empty-st #u945-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu944:hover #u945-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu944.focus-st #u945-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu956.fld-err-st #u959-4 *,#widgetu944.fld-err-st #u945-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu944_input,#widgetu944_prompt
{
	width: 428px;
	min-height: 21px;
	color: #C4C4C4;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu956.focus-st #widgetu956_prompt,#widgetu944.focus-st #widgetu944_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu956:hover #widgetu956_input,#widgetu956.focus-st #widgetu956_input,#widgetu956.fld-err-st #widgetu956_input,#widgetu956:hover #widgetu956_prompt,#widgetu956.fld-err-st #widgetu956_prompt,#widgetu944:hover #widgetu944_input,#widgetu944.focus-st #widgetu944_input,#widgetu944.fld-err-st #widgetu944_input,#widgetu944:hover #widgetu944_prompt,#widgetu944.fld-err-st #widgetu944_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu956.non-empty-st #widgetu956_prompt,#widgetu944.non-empty-st #widgetu944_prompt
{
	visibility: hidden;
}

#u948-4
{
	z-index: 32;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 236px;
}

#widgetu943.frm-sub-st #u948-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u954-4
{
	z-index: 36;
	width: 200px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 236px;
}

#widgetu943.frm-subm-err-st #u954-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu943.frm-subm-err-st #u954-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u949-4
{
	z-index: 40;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 236px;
}

#widgetu943.frm-sub-st #u948-4,#widgetu943.frm-subm-ok-st #u949-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu943.frm-subm-ok-st #u949-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u955-13
{
	z-index: 44;
	min-height: 41px;
	width: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 126px;
	background: url("../images/u955-13.png") no-repeat 0px 0px;
}

#u955-13:hover
{
	background: url("../images/u955-13-r.png") no-repeat 0px 0px;
}

#u955-13:active
{
	background: url("../images/u955-13-m.png") no-repeat 0px 0px;
}

#widgetu943.frm-sub-st #u955-13
{
	background: url("../images/u955-13-fs.png") no-repeat 0px 0px;
}

#buttonu1069
{
	z-index: 61;
	width: 231px;
	border-color: #787878;
	background-color: #00ACDF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 353px;
	top: -53px;
	margin-bottom: -53px;
	position: relative;
}

#buttonu1069:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 0px 0px -53px 353px;
}

#u1070-4
{
	z-index: 62;
	width: 126px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 52px;
}

#buttonu1069:hover #u1070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 126px;
	margin: 9px -10000px 0px 0px;
}

#buttonu1069.ButtonSelected #u1070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 126px;
	margin: 9px -10000px 0px 0px;
}

#buttonu1069:hover #u1070-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1069.ButtonSelected #u1070-4 p
{
	color: #000000;
	visibility: inherit;
}

#u964-4
{
	z-index: 57;
	width: 480px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #00C1DF;
	margin-left: 255px;
	margin-top: 26px;
	position: relative;
}

#u756
{
	z-index: 8;
	height: 98px;
	background-color: #F15D1A;
}

#u756-bw
{
	z-index: 8;
	margin-top: 135px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

